@using MvcStock.Models.Entity;
@model List<PRODUCTS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>PRODUCT ID</th>
        <th>PRODUCT NAME</th>
        <th>BRAND</th>
        <th>CATEGORY</th>
        <th>PRICE</th>
        <th>STOCK REMAINING</th>
        <th>DELETE</th>
        <th>UPDATE</th>
    </tr>
    <tbody>
        @foreach(var urn in Model)
            {
                <tr>
                    <th>@urn.URUNID</th>
                    <td>@urn.URUNAD</td>
                    <td>@urn.MARKA</td>
                    <td>@urn.CATEGORIES.KATEGORIAD</td>
                    <td>@urn.FIYAT</td>
                    <td>@urn.STOK</td>
                    <td><a href="/PRODUCT/DELETE/@urn.URUNID" class="btn btn-danger">DELETE</a></td>
                    <td><a href="/PRODUCT/UPDATE/@urn.URUNID" class="btn btn-success">UPDATE</a></td>
                </tr>
            }
    </tbody>
</table>
<a href="/PRODUCT/UrunEkle/" class="btn btn-primary">ADD NEW PRODUCT</a>

