@using MvcStock.Models.Entity;
@model List<CUSTOMERS>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index", "Customer", FormMethod.Get))
            {
                <p>
                    <b>Aranacak Müşteri Adı:</b> @Html.TextBox("p")
                    <input type="submit" value="Ara"/>
                </p>
            }

<table class="table table-bordered">
    <tr>
        <th>CUSTOMER ID</th>
        <th>CUSTOMER ADI</th>
        <th>CUSTOMER SOYADI</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>ALERT</th>
    </tr>
    <tbody>
        @foreach (var cus in Model)
        {
            <tr>
                <th>@cus.MUSTERIID</th>
                <td>@cus.MUSTERIAD</td>
                <td>@cus.MUSTERISOYAD</td>
                <td><a href="/CUSTOMER/DELETE/@cus.MUSTERIID" class="btn btn-danger">DELETE</a></td>
                <td><a href="/CUSTOMER/MusteriGetir/@cus.MUSTERIID" class="btn btn-success">UPDATE</a></td>
                <td>@Html.ActionLink("Delete button", "DELETE", new {id= cus.MUSTERIID }, new { @class = "btn btn-warning", onclick = "return confirm('Are you sure you want to delete this?')" })</td>
            </tr>
        }
    </tbody>
</table>
<a href="/CUSTOMER/YeniMusteri/" class="btn btn-primary">ADD NEW CUSTOMER</a>

